
body > header {
    background: #8491a3;
    z-index: 2; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable horizontal scroll */
    position: fixed; /* Stay in place */
    width: 97%;
    margin-left: 1.3%;
    height: 80px;
    max-height: 100px;

    left: 0;
    top: 1px;
    border-radius: 20px;
    font-size: 25px;

    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.43);
}

body > header a {
    font-weight: bold;
    margin-right: 10px;
    margin-top: 12px;
    color: #f7fff6;
    text-decoration: none;
    padding-left: 10px;
}

body > header a:hover {
    color: #f7fff6;

    /* Safari */
    -webkit-transform: rotate(-5deg);

    /* Firefox */
    -moz-transform: rotate(-5deg);

    /* IE */
    -ms-transform: rotate(-5deg);

    /* Opera */
    -o-transform: rotate(-5deg);
    transition: 0.2s;

}

body > header > a > img, body > header a {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    padding: 0px 5px;
    font-size: 1.2em;
}

body > footer {
    background: #8491a3;
    z-index: 2;
    margin: 10px ;
    text-align: center;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width: 99%;
    margin-top: 1585px;    /* previous 1070px */
    /*position: fixed;*/
    border-radius: 15px;


}

table th, table td {
    background: #DDD;
    padding: 5px;
}

ul#messages li {
    display: block;
    width: 90%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    position: fixed;
    margin-top: 65px;
    margin-left: 12px;



}

ul#messages li.info {
    z-index: 1;
    position: fixed;
    background: #7f7;

}

ul#messages li.error {
    background: #d00;
    color: white;


}

.validation-error {
    vertical-align: top;
    margin-left: 10px;
    color: red;

    position: fixed;
}

#logged-in-info {
    padding-right: 15px;
    float: right;
    margin-top: 7px;
    height: 50px;
    line-height: 50px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

body > aside {
    float: left;
    width: 200px;
    background: #8491a3;
    padding: 15px;
    margin-left: 20px;
}

body > aside h2 {
    margin: 5px 0px 15px 0px;
}

body > aside a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
}

body > main:after {
    content: '';
    display: block;
    clear: both;
}

.sidebar {
    height: 50%;
    max-height: 400px; /* 100% Full-height */
    width: 356px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    margin-top: 100px;
    left: 0;
    background-color: #8491a3; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 2s; /* 0.5 second transition effect to slide in the sidenav */
    border-radius: 20px;

    -webkit-box-shadow: -4px 15px 17px -4px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -4px 15px 17px -4px rgba(0, 0, 0, 0.54);
    box-shadow: -4px 15px 17px -4px rgba(0, 0, 0, 0.54);
}

.sidebar-title {
    color: #f7fff6;
    font-size: 35px;
    padding-left: 30px;
}

.sidebar-title:hover {
    /* Safari */
    -webkit-transform: rotate(-2deg);

    /* Firefox */
    -moz-transform: rotate(-2deg);

    /* IE */
    -ms-transform: rotate(-2deg);

    /* Opera */
    -o-transform: rotate(-2deg);
    transition: 0.2s;
}

.sidebar a {
    padding: 0px 12px 0px 32px;
    text-decoration: none;
    font-size: 23px;
    color: #f7fff6;
    display: block;
    transition: 1s;

}

.sidebar a img {
    height: 20px;
    width: 20px;
    margin-right: 9px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;

    padding-left: 17px;
    transition: 0.3s;

}

.current-user-icon {
    padding-top: 9px;
    height: 30px;
    width: 30px;

}

.current-user-text-container {
    display: inline-block;
    /*padding-top: 7px;
    padding-right: 5px;*/

}

.current-user-icon-container {
    display: inline-block;
    float: left;
    /* padding-top: 5px;*/
    padding-right: 10px;

}

#logged-in-info {
    /*height: 60px;*/
}

.individual-item {

    color: black;
    float: left;
    position: relative;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 45px;
    padding: 10px;
    width: 400px;
    height: 300px;
    background: #f5f9fb;
    border: 1px solid #d6e7ef;
    display: inline-block;
    word-wrap: break-word;
    border-radius: 8px;

    -webkit-box-shadow: -4px 15px 17px -4px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -4px 15px 17px -4px rgba(0, 0, 0, 0.54);
    box-shadow: -4px 15px 17px -4px rgba(0, 0, 0, 0.54);

}

.individual-item:hover {

    -webkit-box-shadow: -4px 15px 17px -4px #473d3b;
    -moz-box-shadow: -4px 15px 17px -4px #473d3b;
    box-shadow: -4px 15px 17px -4px #473d3b;

}

#individual-item-user-info {
    height: 310px;
}


.single-item-buttons {
    height: 22px;
    max-height: 22px;
    margin-top: 125px;
    width: 100%;
    bottom: 0px;
}

.details-button {

    display: inline-block;
    float: left;
    text-align: center;
    width: 25%;
    border-radius: 10px;
    background-color: #bcebcb;
    bottom: 0px;
    text-decoration: none;
    width: 150px;

    text-decoration: none;

    color: black;
}

.edit-button {
    display: inline-block;
    float: right;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    background-color: #bcebcb;
    bottom: 0px;
    text-decoration: none;

    color: black;
}

.edit-button:hover,.details-button:hover {
    background-color: #8491a3;
    color:white;
}


#edit-button {
    display: inline-block;
    background-color: orangered;
    float: left;
    text-align: center;
    width: 25%;
    padding-right: 25px;
    text-align: center;
}

#logout-button {
    display: inline-block;
    background-color: orangered;
    float: right;
    width: 25%;
    text-align: center;
    padding-right: 25px;
}

#edit-button:hover, #logout-button:hover {
    background-color: red;
}

.home-image-thumbnail {
    width: 150px;
    height: 150px;

    display: inline-block;
    float: left;
    border-radius: 10px;
}

.item-info {
    display: inline-block;
    font-stretch: condensed;
    float: left;
    width: 250px;
    height: 150px;
    text-align: center;

}

.title {
    word-wrap: break-word;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
    height: 78px;
    width: 240px;
    text-align: center;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 10px;

    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;

    background-color: #bcebcb;

}

.date-and-author-div {
    display: inline-block;
    float: left;
    width: 150px;
    height: 61px;

}

.date {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #bcebcb;

}

.author {
    height: 22px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #bcebcb;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

}

.date-author-price {
    margin-top: 11px;
    height: 74px;
}

.price {
    height: 49px;
    display: inline-block;
    width: 80px;
    float: right;
    margin-top: 11px;
    margin-left: 10px;

    border-radius: 10px;
    background-color: #bcebcb;
    font-size: 20px;

}

.price-text {
    margin-top: 10px;
}

.description {
    margin-left: 5px;
    height: 130px;
    width: 390px;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;

}

.user-icon {
    height: 15px;
    width: 15px;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 5px;
}

.main-items {
    display: table;
    padding-left: 400px;
    padding-top: 100px;
    margin-bottom: -1405px;
    height: 515px;

    min-height: 515px;

}

.edit-form {
    padding-top: 100px;
    display: inline-block;
    float: left;
}

.navigation-links {
    display: inline-block;
    padding-left: 20px;
}

.image-preview {
    display: inline-block;
    padding-left: 50px;
    padding-top: 100px;
    float: left;
    border-radius: 5px;

}

.image-preview img {
    border-radius: 5px;
}

.site-logo img {

    height: 60px;
    width: 300px;
}



#register {
    margin-right: 329px;
}

#users {
    margin-right: 214px;
}

.all-items {
    height: 100%;
    min-height: 100%;
}



