.user-info-sidebar {
    position: fixed;
    width: 350px;
    height: 300px;

    z-index: 1; /* Stay on top */
    left: 25px;
    top: 100px;

    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 2s; /* 0.5 second transition effect to slide in the sidenav */
}


.user-info {

    top: 0px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: #8491a3; /* Black*/

    -webkit-box-shadow: -4px 7px 17px -4px rgba(0,0,0,0.1);
    -moz-box-shadow: -4px 7px 7px -4px rgba(0,0,0,0.1);
    box-shadow: -4px 15px 17px -4px rgba(0,0,0,0.1);

}



.user-info{
    padding: 0px 12px 0px 32px;
    text-decoration: none;
    font-size: 23px;
    color: #f7fff6;
    display: block;
    transition: 1s;


}

/* When you mouse over the navigation links, change their color */
.user-info:hover {
    color: #f1f1f1;

    padding-left: 17px;
    transition: 0.3s;

}


.user-info-wrapper {
    top: 400px;
}

