.user-info-sidebar {
    position: fixed;
    width: 380px;
    max-height: 800px;
    text-align: center;
    z-index: 1; /* Stay on top */
    left: 25px;
    top: 60px;

    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 2s; /* 0.5 second transition effect to slide in the sidenav */
}

.all-items-wrapper {
    display: table;
    padding-left: 400px;
    padding-top: 110px;
    height: 300px;



}

.all-items-title {
    background-color: #8491a3;
    margin-left:47px;
    border-radius: 20px;
    width: 897px;
    text-align: center;
    height: 56px;
    line-height: 56px;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 23px;
    color: #f7fff6;
    display: block;
    transition: 1s;

    -webkit-box-shadow: -4px 7px 17px -4px rgba(0,0,0,0.1);
    -moz-box-shadow: -4px 7px 7px -4px rgba(0,0,0,0.1);
    box-shadow: -4px 15px 17px -4px rgba(0,0,0,0.1);
}

.user-info {

    top: 0px;
    max-height: 200px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding-top: 7px;
    background-color: #8491a3; /* Black*/

    -webkit-box-shadow: -4px 7px 17px -4px rgba(0,0,0,0.1);
    -moz-box-shadow: -4px 7px 7px -4px rgba(0,0,0,0.1);
    box-shadow: -4px 15px 17px -4px rgba(0,0,0,0.1);

}

.user-info{
    padding: 0px 12px 0px 32px;
    text-decoration: none;
    font-size: 23px;
    color: #f7fff6;
    display: block;
    transition: 1s;


}

.user-info:hover span{
    color: #f1f1f1;

    padding-right: 17px;
    transition: 0.3s;
}

.user-info-wrapper {
    top: 400px;

}

